
.header{
    background: url(http://nevseoboi.com.ua/uploads/posts/2012-04/1335709755-2091448-0076969_www.nevseoboi.com.ua.jpg);
}
h1{
   height:60px;
   color: red;
}
div{
  background: url(https://mota.ru/upload/wallpapers/source/2013/10/16/16/00/37749/GfCF6F8zDn.jpg)
}
p{
  color: blue;
}
